body {
    background-color: #333;
    padding-top: 200px;
    display: flex;
    justify-content: center;
}
.text h1 {
    color: #fff;
    font-family: monospace;
    letter-spacing: 5px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 5px solid orange;
    animation: typing 3.5s steps(21) 1, caret .5s steps(2) infinite;
}

@keyframes caret {
    from {
        border-color: transparent;
    }
    to {
        border-color: orange;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
